## Observations and Insights

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "Resources/Mouse_metadata.csv"
study_results_path = "Resources/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
study_data_complete = pd.merge(mouse_metadata, study_results, how="left", on=["Mouse ID", "Mouse ID"])
# Display the data table for preview
study_data_complete.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [4]:
# Checking the number of mice.
study_data_complete['Mouse ID'].value_counts()

g989    13
e476    10
h246    10
q511    10
a262    10
        ..
l872     1
u153     1
v199     1
d133     1
b447     1
Name: Mouse ID, Length: 249, dtype: int64

In [13]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
grouped_study_data = study_data_complete.groupby(['Mouse ID'])
grouped_study_data.count()

,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Mouse ID,,,,,,,
a203,10,10,10,10,10,10,10
a251,10,10,10,10,10,10,10
a262,10,10,10,10,10,10,10
a275,10,10,10,10,10,10,10
a366,7,7,7,7,7,7,7
...,...,...,...,...,...,...,...
z435,3,3,3,3,3,3,3
z578,10,10,10,10,10,10,10
z581,10,10,10,10,10,10,10
z795,10,10,10,10,10,10,10
z969,10,10,10,10,10,10,10

In [4]:
# Optional: Get all the data for the duplicate mouse ID.

In [16]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
drop_mouse = study_data_complete[study_data_complete['Mouse ID'] == "g989"].index
study_data_complete.drop(drop_mouse, inplace=True)
study_data_complete.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [17]:
# Checking the number of mice in the clean DataFrame.
study_data_complete['Mouse ID'].value_counts()

e476    10
g497    10
a644    10
a897    10
l700    10
        ..
l872     1
u153     1
b447     1
v199     1
x336     1
Name: Mouse ID, Length: 248, dtype: int64

## Summary Statistics

In [38]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
# This method is the most straighforward, creating multiple series and putting them all together at the end.

import numpy as np

numpy_summary = study_data_complete[['Drug Regimen', 'Tumor Volume (mm3)']]

drug_regimen = numpy_summary['Drug Regimen']
mean_numpy = numpy_summary.mean(axis=0)
median_numpy = numpy_summary.median(axis=0)
var_numpy = numpy_summary.var(axis=0)
sd_numpy = numpy_summary.std(axis = 0)
SEM_numpy = numpy_summary.sem(axis=0)

numpy_summary_df = pd.DataFrame({"Drug Regimen": [drug_regimen], "Mean": [mean_numpy], "Median": [median_numpy], 
                                 "Variance": [var_numpy], "Standard Deviation": [sd_numpy], "SEM": [SEM_numpy]})

numpy_summary_df

,Drug Regimen,Mean,Median,Variance,Standard Deviation,SEM
0,0 Ramicane 1 Ramicane 2 Rami...,Tumor Volume (mm3) 50.435293 dtype: float64,Tumor Volume (mm3) 48.933454 dtype: float64,Tumor Volume (mm3) 79.462907 dtype: float64,Tumor Volume (mm3) 8.914197 dtype: float64,Tumor Volume (mm3) 0.205591 dtype: float64

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
# This method produces everything in a single groupby function

tumor_summary = study_data_complete.groupby(['Drug Regimen'])

tumor_summary_mean = pd.DataFrame(tumor_summary['Tumor Volume (mm3)'].mean())
tumor_summary_mean

tumor_summary_median = pd.DataFrame(tumor_summary['Tumor Volume (mm3)'].median())
tumor_summary_median

tumor_summary_variance = pd.DataFrame(tumor_summary['Tumor Volume (mm3)'].var())
tumor_summary_variance

tumor_summary_sd = pd.DataFrame(tumor_summary['Tumor Volume (mm3)'].std())
tumor_summary_sd

tumor_summary_sem = pd.DataFrame(tumor_summary['Tumor Volume (mm3)'].sem())
tumor_summary_sem

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas.

In [10]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen